<header class="w3-cell-row general">
  <div class="w3-cell w3-cell-middle">
      <span class="w3-padding"><img src='../../assets/logohyeresairport.png' width="200px" /></span>
      <span class="w3-padding"><a routerLink="/home" routerLinkActive="gras">Accueil</a></span>
      <span class="w3-padding"><a routerLink="/with" routerLinkActive="gras">Arrivées</a></span>
      <span class="w3-padding"><a routerLink="/without" routerLinkActive="gras">Départs</a></span>
      <span class="w3-padding"><a routerLink="/finances" routerLinkActive="gras">À propos</a></span>
  </div>
</header>
