<div class="hero">
  <div class="hero__breadcrumb">
    <section class="container2">
<div class="h1">Live flights</div>
<div class="h2">Arrivées</div>
</section>
</div>
</div>
<form class="formular">
  <h1><img src="assets/loupe.png" width="35" height="35">   Arriving from</h1>
  <input class="input2" formControlName="search" placeholder="flight number, destination or airline">
</form>
<button type="button" class="btn btn-success">Départ</button>
<button type="button" class="btn btn-info">Arrivées</button>
<div class="container">
<div class="w3-padding general">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">N° de vol</th>
        <th scope="col">Provenance</th>
        <th scope="col">Compagnie</th>
        <th scope="col">Statut</th>
        <th scope="col">Suivi de vol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
        <td>{{flight.flightNumber}}</td>
        <td>{{flight.departure}}</td>
        <td>{{flight.airline}}</td>
        <td>{{flight.statut}}</td>
        <td><button>Suivre le vol</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
