<div class="hero">
  <div class="hero__breadcrumb">
    <section class="container2">
<div class="h1">Live flights</div>
<div class="h2">Departure</div>
</section>
</div>
</div>
<form class="formular">
  <h1><img src="assets/loupe.png" width="35" height="35">   Departing to</h1>
  <input class="input2" formControlName="search" placeholder="flight number, destination or airline">
</form>

<button type="button" class="btn btn-success">Départure</button>
<button type="button" class="btn btn-info">Arrival</button>

<div class="container">
<div class="w3-padding general">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">N° de vol</th>
        <th scope="col">From</th>
        <th scope="col">Airline</th>
        <th scope="col">Status</th>
        <th scope="col">Track</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
        <td>{{flight.flightNumber}}</td>
        <td>{{flight.to}}</td>
        <td>{{flight.airline}}</td>
        <td>{{flight.statut}}</td>
        <td><button>Suivre le vol</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
