.hero{

  background-color: #39B5E0;
  padding-top:5px;
  padding-bottom: 5px;
}
.formular{
  text-align:center;
  width: auto;
  margin-top:50px;
  margin-bottom:50px;
}
.h1{
  color:white;
}
.h2{
  color:white;
  margin-top:-15px
}
.input2{

  width: 280px;
}
.backbutton{
  background-color: #e0c439;
  color: white;
  margin: auto;
  text-align:center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btndeparture{
  margin-right:10px;
  margin-left:10px;
}
.btnarrival{
  margin-right:10px;
  margin-left:10px;
}


